*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
  }
  
  
  .admin-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
    width: 1050px;
  }
  

  .sub-heading{
    font-family: ui-sans-serif
  }

  .form input{
    max-width: 320px;
  }


  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

 
  .border-margin{
    border: 1px solid #3B71CA;
    padding: 6px 23px;
    margin-right: 4px;
    margin-top: 3px;

  }


  /* .mini-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


  } */

  .mini-box div{
  padding-top: 2%;
  
  }

  .min-button{
    min-width: 150px;
  }